<div id="twitter-status"><br>This site requires Javascript to be enabled in order for it to work</div>

<script type="text/javascript">
  $(function(){
    window.nickname = "<%= @nickname %>";
     window.wall_app_router = new Walloftweets.Routers.WallRouter(<%== wall_options %>, <%== @user_settings.to_json %>);
  });
</script>

